
  .table-bordered {
    text-align: center;
    width: 80%;
  }
  .body{
    margin: 60px;
    margin-top: 0px;
    background-color: #B0C4DE;
  }
  .modal-body {

    text-align: justify;
  }
    p.big {
      line-height: 1.8;
    }


  .modal-contribuinte {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    overflow: hidden;
  }
